# RStudio and R session files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Operating-system files
.DS_Store
Thumbs.db

# Local renv package installations and temporary files
renv/library/
renv/staging/
renv/cache/
renv/local/
renv/python/
renv/cellar/

# Spatial data
data/spatial

# Temporary files
*.tmp
*.log